 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: blue; */
} 

.top_p{
    display: flex;
    justify-content: center;
}
.logo_area{
    width: 100%;
    height: 90px;
    padding: 20px 50px 20px 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(180, 234, 53); */
}

#name{
    font-size: 40px;
}

.navbar{
    height: 60px;
    padding-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    /* background-color: aquamarine; */
}
.navbar ul{
    display:flex;
    justify-content: space-between;
    list-style: none;
}
.navbar ul li{
    font-size: 1.5em;
}
/* util from accueil */


/* body start from boutique */
#boutiqe{
    text-align: center;
    margin-top: 100px;
}
#check{
   height: 20px;
   width: 15px;
   /* text-align: center; */
}
#Boutique_body{
    padding: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(101, 104, 106);
    margin-top: 100px;

}
 #main_consulter{
    display: flex;
    border-style: dotted;
    border-color: black;
}

.side_imgs{
    width: 200px;
    height: 200px;
}

.happy_area{
    padding-top: 50px;
    padding-right: 20px;
    justify-content: center;
}
.payment_way{
    padding-top: 40px;
}
/* #section_images{
   
} */

/* body end from boutique */

/* bellow copy from Accueil */
.footer{
    background-color: 2D788F;
}

.top_footer{
    display: flex;
    justify-content: space-around; 
    padding-top: 20px;
}
.payment_methods{
    width: 10px;
    padding-top: 10px;
    padding-left: 17px;
}

.middle_footer{
    text-align: center;
    padding: 20px 20px;
    border-bottom: 5px solid white;
}
.Corporate{
    padding-left: 70px;
}
.sécurité{
    padding-top: 10px;
    text-align: center;
    padding: 20px 20px;
}
.faq{
    padding-top: 10px;
    text-align: center;
    padding: 20px 20px;
}

.bottom_footer{
    height: 50px;
    padding-left: 70px;
    padding-top: 15px;
    display: flex;
    justify-content: space-around;    
}

.social_media{
    display: flex;
    justify-content: space-around; 
    padding-left: 20px;

    /* justify-content: space-between;
    text-align: right;
    padding: 20px;
    margin-right: 50px;
    height: 70px; */
}

.media_images{
    height: 15px;
    
}